#inscription{
    background-image: url("../images/Lcars_wallpaper.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#inscription h1{
    font-weight: bold;
    color: white;
}

#inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  #inscription form label {
    margin: 10px 0;
    color: white;
}
  #inscription .langage {
    display: flex;
}
