#galerie{
    background-image: url("../images/starfleet.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    background-blend-mode: darken;
}

/*#galerie::before{
    background-image: url("../images/starfleet.jpg");
    background-size: cover;
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    opacity: 0.75;
}*/

.fig__galerie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*h1,
h2,
.fig__galerie figcaption{
    position: relative;
}*/

.fig__galerie figcaption{
    color: white;
}
