#galerie{
    background-image: url("../images/starfleet.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    background-blend-mode: darken;
}

/*#galerie div.background{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}*/

.fig__galerie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fig__galerie figcaption{
    color: gray;
}

/*.fig__galerie img{
    filter: sepia(49%) brightness(92%) hue-rotate(140deg) saturate(175%) contrast(127%);
    -webkit-filter: sepia(49%) brightness(92%) hue-rotate(140deg) saturate(175%) contrast(127%);
    -moz-filter: sepia(49%) brightness(92%) hue-rotate(140deg) saturate(175%) contrast(127%);
}*/